<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="" >MTR Hotels</a>
    </div>
    <ul class="nav navbar-nav">
      <li [class]="executive"><a routerLink="executive" name="executive" (click)='onClick($event)' >Executive</a></li>
      <li [class]="suite"><a routerLink="suite" name="suite" (click)='onClick($event)'>Suite</a></li>
      <li [class]="standard"><a routerLink="standard" name="standard" (click)='onClick($event)'>Standard</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>