<div class="panel panel-default">
  <div class="panel-heading">Standard Booking (!only for a day)</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" id="name"
        required minlength="4" appForbiddenName="bob"
        [(ngModel)]="cName" #name="ngModel">
      </div>
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="number" name="id" class="form-control" [(ngModel)]="cId" id="id" required minlength="4" appForbiddenId="000" #id="ngModel">
      </div>
      <div class="form-group">
        <label for="adults">Adults:</label>
        <input type="number" name="adults" class="form-control" [(ngModel)]="cAdults" id="adults" required minlength="4" appForbiddenId="000" #adults="ngModel">
      </div>
      <div class="form-group">
        <label for="children">Children:</label>
        <input type="number" class="form-control" name="children" [(ngModel)]="cChildren" id="children" required minlength="4" appForbiddenId="000" #children="ngModel">
      </div>
      <button type="submit" class="btn btn-default" (click)="book()" >Submit</button>
    </form>
  </div>
</div>

<div *ngIf="name.invalid && (name.dirty || name.touched)"
class="alert alert-danger">

<div *ngIf="name.errors.required">
Name is required.
</div>
<div *ngIf="name.errors.minlength">
Name must be at least 4 characters long.
</div>
<div *ngIf="name.errors.forbiddenName">
Name cannot be Bob.
</div>

</div>

<!--Id validation-->
<div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
  
    <div *ngIf="id.errors.required">
      id is required.
    </div>
    <div *ngIf="id.errors.minlength">
      ID must be at least 4 characters long.
    </div>
    <div *ngIf="id.errors.forbiddenId">
      ID cannot be 000.
    </div>
  </div>
<!--Adults validation-->
<div *ngIf="adults.invalid && (adults.dirty || adults.touched)" class="alert alert-danger">
  
    <div *ngIf="adults.errors.required">
      Number of adults is required.
    </div>
    <div *ngIf="adults.errors.minlength">
      Number must be at least 1 digit long.
    </div>
    <div *ngIf="adults.errors.forbiddenId">
      Number cannot be 000.
    </div>
  </div>

<!--Children validation-->
<div *ngIf="children.invalid && (children.dirty || children.touched)" class="alert alert-danger">
  
    <div *ngIf="children.errors.required">
      Number of children is required.
    </div>
    <div *ngIf="children.errors.minlength">
      Number must be at least 1 digit long.
    </div>
    <div *ngIf="children.errors.forbiddenId">
      Number cannot be 000.
    </div>
  </div>


<div *ngIf="amount!=0" class="alert alert-success">
  <strong>Booking successful!</strong> please pay Rs.{{amount}} in the counter.
</div>